<html>
  <head>
    <title>modify the options</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="background-color: cornsilk;">
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <div class="pt-6">
            <b>
          <p align="center">Update AdminsPassowrd</p>
        </b>
          <form
            method="post"
            action="/adminpassword/reset"
            class="flex flex-col gap-4 pt-4">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="flex flex-col w-full">
              <label for="oldpassword" class="block font-bold">Old Password</label>
              <input
                type="password"
                name="oldpassword"
                value=""
                placeholder="oldpassword"
                class="border-2 border-black p-2 rounded-lg"
              />
            </div>
            <div class="flex flex-col w-full">
              <label for="newpassword" class="block font-bold">New Password</label>
              <input
                type="password"
                name="newpassword"
                value=""
                placeholder="newpassword"
                class="border-2 border-black p-2 rounded-lg"
              />
            </div>
            <div class="flex justify-center gap-8">
              <button
                type="submit"
                class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-3 py-1"
              >
                Update
              </button>
              <a
                href=""
                class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-3 py-1"
              >
                Cancel
              </a>
            </div>
          </form>
      </div>
      <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
               <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                <center>
                <li> <%= messages.error[i] %></li>
              </center>
               </div>
        <% } %>
      <% } %> 
    </div>
  </body>
</html>