<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>New question</title>
</head>
<body>
    <div style="background-color: lightskyblue;">
    <div class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden">
        <div class="relative py-3 sm:w-96 mx-auto text-center">
            <span class="text-2xl font-light ">Add a new Question</span>
            <div>
            </div>
            <div class="mt-4 bg-white shadow-md rounded-lg text-left " style="background-color: antiquewhite;">
                <div class="h-2 rounded-t-md"></div>
                <form action="/questionscreate/<%= id %>" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="questionname" class="block mt-3 font-semibold">What is the question?</label>
                    <input id="questionname" name="questionname" type="text" placeholder="Question" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" >
                    <label for="description" class="block mt-3 font-semibold">Description</label>
                    <textarea id="description" name="description" class="border w-full px-2 py-1 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"></textarea>
                    <center>
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 justify-right">create</button>
                    <a href="/questions/<%=id%> " class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2 justify-right">Cancel</a>
                    </center>
                </form>
            </div>  
        </div>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                   <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                    <center>
                        <b>
                    <li> <%= messages.error[i] %></li>
                </b>
                </center>
                   </div>
            <% } %>
          <% } %>    
        </div>
    </div>
</body>
</html>