
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/index" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap">Home Page</span>
      </a>
      <div class="w-auto">
        <ul class="flex-auto">
          <li>
            <a href="/signout" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
