<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body style="background-color: cornsilk; " >
  
        <div class="container flex flex-wrap items-center justify-between mx-auto">     
            <b>
            <p class="py=4">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-black-800 py-3" >welcome to voting platform </span>
        </p>    
        </b>       
        </div>
    <table align="center">
          <tr>
            <td>
            <b >
            <p class="py-3"> MALLIK ONLINE VOTEING APPLICATION</p>
           </b>
            </td>
           </tr>
           <tr>
            <td>
            <p class="py-1">New here? <a class="text-green-600" href="/signup">Sign-up</a></p>
            </td>
        </tr>
        <tr>
            <td>
            <p class="py-1">Existing user? <a class="text-green-600" href="/login">Sign-in</a></p>
        </td>
        </tr>
         
</table>
</body>
<br>
<br>
<% if (messages.success) { %>
    <div class="bg-green-300 text-green-900 p-2 rounded-lg shadow">
        <center>
        <li><b><%= messages.success %></b>
        </center>
        </li>
        </div>
<% } %> 
</html>